<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>AGL Developer Test</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div id="result">
		<div class="loader-div">
			<div class="loading"></div>
			<div>loading data from jsonp service</div>
		</div>
	</div>

	<script src="lib/lodash.min.js"></script>
	<script src="src/app.js"></script>
	<script>
		document.addEventListener("DOMContentLoaded", function(event) {
			var url = 'http://agl-developer-test.azurewebsites.net/people.json';
			jsonp(url, (data) => {
				const compiled = _.template(document.getElementById('listTmpl').innerHTML);
				document.getElementById('result').innerHTML = compiled({data: filterCats(data)});
			})
		});
	</script>
	<!-- lodash template for list -->
	<script type="text/template" id="listTmpl">
		<ul>
			<%
				_.forOwn(data, (value, key) => {
			%>
					<li>
						<strong><%- key %></strong>
						<ul>
							<li>
							<%= _.join(value, '</li><li>') %>
							</li>
						</ul>
					</li>
			<%
				}) 
			%>
	</script>
</body>
</html>
